#about {
  @include breakpoint($breakpoint-laptop--medium) {
    background-position-x: center;
    background-size: 650px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 60px;
    background-size: 600px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding-top: 50px;
    padding-bottom: 25px;

    background-position-y: calc(0% + 50px);
  }

  padding-top: 100px;
  padding-bottom: 60px;

  background-position: calc(50% - 400px) center;
  background-size: 1225px;
  background-repeat: no-repeat;
}

.about {
  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 250px;
    }

    @include breakpoint($breakpoint-laptop) {
      width: 190px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 150px;
      margin-bottom: 40px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-top: 40px;
    }

    display: inline-block;
    margin-bottom: 100px;
    margin-left: auto;

    text-align: right;
  }

  &__advantage {
    .col-6 {
      @include first(2) {
        @include breakpoint($breakpoint-laptop--medium) {
          margin-bottom: 60px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 20px;
        }

        @include breakpoint($breakpoint-tablet) {
          margin-bottom: 30px;
        }

        margin-bottom: 100px;
      }
    }

    h3 {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__title--small;
      }

      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__title--small - 4px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size__text--big - 4px;
      }

      font-size: $font-size__title--medium;
    }
  }
}
