// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  position: relative;

  padding-top: 0;
  padding-bottom: 0;

  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba($color: #e0e0e0, $alpha: 0.5);
  }
}

.hero {
  @include breakpoint($breakpoint-tablet--large) {
    height: 75vh;
  }

  @include breakpoint($breakpoint-tablet) {
    justify-content: flex-end;
    height: 60vh;
    max-height: 320px;
  }

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  .section__header {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 40px;
    }

    margin-bottom: 0;
  }

  .section__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 92px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 54px;
      line-height: 1.25;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 40px;
    }

    font-size: 128px;
    line-height: 1;

    text-align: left;
  }
}
