#interior {
  @include breakpoint($breakpoint-mobile--large) {
    padding-bottom: 0;

    .swiper-control {
      display: none;
    }
  }

  overflow: hidden;
  padding-bottom: 30px;
}

.interior {
  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 450px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 370px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 270px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 180px;
    }

    height: 540px;
    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
