#subscribe {
  @include breakpoint($breakpoint-tablet--large) {
    padding-bottom: 60px;

    .section__title {
      br {
        display: none;
      }
    }
  }

  padding-bottom: 80px;
  background-color: $palette-white;
}