[data-editor="defalut"] {
  p {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--large - 2px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular - 4px;
    }

    font-size: $font-size__text--large;
  }
}
