// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

.footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $palette-black;
  color: $palette-white;

  a {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--regular;
    }

    color: $palette-white;
    font-size: $font-size__title--small - 2px;
  }

  &__wrapper {
  }

  &__company {
    @include breakpoint($breakpoint-tablet--large) {
      display: flex;
      align-items: center;

      margin-bottom: 40px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      justify-content: center;
    }
  }

  &__logo {
    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 50px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-right: 40px;
      margin-bottom: 0;
    }

    margin-bottom: 60px;
  }

  &__copyright {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__title--small;
  }

  &__contact {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
    }

    display: flex;
    flex-direction: column;

    margin-bottom: 30px;

    a {
      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular;
      }

      font-size: $font-size__text--big;
    }
  }

  &__social {
  }

  &__about {
    @include breakpoint($breakpoint-mobile--large) {
      flex-direction: column;
    }

    display: flex;

    a:first-child {
      @include breakpoint($breakpoint-mobile--large) {
        margin-right: 0;
      }

      margin-right: 65px;
    }
  }
}
