// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  position: absolute;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;

  padding-top: 30px;
  padding-bottom: 30px;

  &--background {
    background-color: $palette-white--pale;
    box-shadow: 0 3px 1px rgba(#000000, 0.028), 0 1px 4px rgba(#000000, 0.042);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big - 2px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    font-size: $font-size__text--big;
  }
}
