// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $palette-white;

  &--shadow {
    box-shadow: 0 0 5px rgba($palette-black, 0.1);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big - 2px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    font-size: $font-size__text--big;
  }
}
