.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: var(--height);
  left: 0;

  width: 100%;
  height: 100vh;

  visibility: hidden;

  &__overlay {
    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.7);
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    padding: 60px 30px;

    background-color: $palette-white--pale;
    background-image: url("../img/common/background-logo.svg");
    background-position-x: right;
    background-position-y: 60%;
    background-size: 400px;
    background-repeat: no-repeat;

    opacity: 0;
    visibility: hidden;

    transition: 0.2s ease;
  }

  &__content {
    width: 100%;
  }

  &__nav {
    margin-bottom: 75px;
  }

  &--open {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: 1;
      visibility: visible;
    }

    .mobile-menu__wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}
