// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
  }

  &--header {
    .nav__list {
      display: flex;
      align-items: center;
    }

    .nav__item {
      &:not(:last-child) {
        @include breakpoint($breakpoint-laptop) {
          margin-right: 60px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          margin-right: 40px;
        }

        margin-right: 80px;
      }
    }

    .nav__link {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular - 4px;
      }

      font-size: $font-size__text--big;
    }
  }

  &--footer {
    .nav__item {
      @include breakpoint($breakpoint-tablet--large) {
        margin-top: 0;
      }

      @include breakpoint($breakpoint-mobile--large) {
        line-height: 1.75;
      }

      margin-top: 5px;

      &--primary {
        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 20px;
        }

        @include breakpoint($breakpoint-mobile--large) {
          margin-bottom: 0;
        }

        margin-bottom: 30px;

        .nav__link {
          font-weight: $weight-Medium;
        }
      }
    }

    .nav__link {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: $font-size__text--regular - 4px;
      }

      color: $color-text__white;
      font-size: $font-size__text--large;
    }
  }
}
