$transition-time: 0.2s;

.modal {
  &__overlay {
    @include breakpoint($breakpoint-tablet) {
      align-items: flex-end;
    }

    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(#000000, 0.7);
  }

  &__container {
    @include breakpoint($breakpoint-tablet--large) {
      max-width: 640px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 95%;
      padding-bottom: 40px;
    }

    position: relative;

    width: 100%;
    max-width: 892px;

    padding-top: 60px;
    padding-bottom: 80px;

    background-color: #f8f0ed;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__title--small;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__title--small - 4px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__title--medium;
    text-align: center;
  }

  &__close {
    @include breakpoint($breakpoint-tablet) {
      width: 18px;
      height: 18px;
    }

    position: absolute;
    z-index: 3;
    top: 25px;
    right: 25px;

    width: 24px;
    height: 24px;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: opacity 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: url("../img/icons/control/modal__close.svg");
    }
  }

  &__content {
  }

  &__text {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular - 4px;
    }

    padding: 0 30px;
    font-size: $font-size__text--regular;
    text-align: center;
  }

  &__form {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 30px;
    }

    margin-top: 60px;

    .form__wrapper {
      @include breakpoint($breakpoint-tablet) {
        width: 90%;
      }

      width: 75%;
      text-align: center;
    }
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: fade-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: slide-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: fade-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: slide-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}
