main#single-service {
  .section__header {
    margin-bottom: 90px;
  }

  #about {
    padding-bottom: 60px;
  }

  .about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__content {
      margin-right: 120px;
    }

    &__picture {
      flex-shrink: 0;

      width: 600px;
      height: 750px;

      margin-bottom: 0;
    }
  }
}
