#advantage {
  padding-bottom: 75px;
}

.advantage {
  &__item {
  }

  &__icon {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 54px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 42px;
      margin-bottom: 25px;
    }

    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big - 3px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular - 2px;
    }

    font-weight: $weight-Light;
    font-size: $font-size__text--big;
    font-family: FuturaPT, sans-serif;

    text-align: center;
  }
}
