// Цветовая палитра блоков
$palette-white: #f2efec;
$palette-white--pale: #e4e0db;
$palette-gray: #6e7273;
$palette-black: #2d2d2d;

// Цветовая палитра текста
$color-text__brown: #5a3600;
$color-text__white: #ffffff;
