.logo {
  transition: $transition ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &--header {
    @include breakpoint($breakpoint-laptop) {
      width: 130px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 90px;
    }

    width: 180px;
  }

  &--certificate {
    @include breakpoint($breakpoint-laptop) {
      width: 150px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 120px;
    }

    width: 180px;
  }

  &--footer {
    @include breakpoint($breakpoint-laptop) {
      width: 120px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 80px;
    }

    width: 145px;
  }
}
