section#privacy {
}

.privacy {
  &__heading {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: 27px;
    }

    margin-bottom: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 15px;
    }

    margin-bottom: 30px;
    text-align: left;
  }

  &__content {
  }
}
