.section {
  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  padding-top: 100px;
  padding-bottom: 80px;

  &:first-child {
    @include breakpoint($breakpoint-tablet--large) {
      padding-top: 140px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding-top: 120px;
    }

    padding-top: 200px;
  }

  &__header {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 25px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 15px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 30px;
    }

    margin-bottom: 50px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--small;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--small - 5px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--big - 4px;
      text-align: center;
    }

    font-size: $font-size__title--medium;
  }
}
