.section {
  &:not(:first-child) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  &__header {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 25px;
    }

    margin-bottom: 50px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--small;
    }

    font-size: $font-size__title--medium;
  }
}
