.button {
  @include breakpoint($breakpoint-laptop) {
    padding: 16px 35px;
    font-size: $font-size__text--regular;
  }

  @include breakpoint($breakpoint-tablet--large) {
    padding: 12px 25px;
    font-size: $font-size__text--small;
  }

  padding: 20px 45px;

  border: none;
  border-radius: $border-radius--button;
  outline: none;

  background-color: transparent;
  color: $color-text__brown;

  font-weight: $weight-Light;
  font-size: $font-size__text--big;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &--round {
    border-radius: 100px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
