.button {
  @include breakpoint($breakpoint-laptop--medium) {
    min-width: 240px;
    padding: 16px 35px;
    font-size: $font-size__text--regular;
  }

  @include breakpoint($breakpoint-tablet--large) {
    min-width: 160px;

    padding: 12px 25px;
    border-width: 1px !important;

    font-size: $font-size__text--regular - 4px;
  }

  min-width: 270px;
  padding: 20px 45px;

  border: 2px solid transparent;
  border-radius: 0;
  outline: none;

  background-color: transparent;
  color: $color-text__brown;

  font-weight: $weight-Light;
  font-size: $font-size__text--big;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
