.button-primary {
  background-color: #c3a38b;
  color: $color-text__white;

  @media (hover: hover) {
    &:hover {
      border-color: #5a3600;
      background-color: transparent;

      color: $color-text__brown;
    }
  }
}
