.button-primary {
  background-color: #c3a38b;
  color: $color-text__white;

  &:hover,
  &:active {
    border-color: #5a3600;
    background-color: transparent;

    color: $color-text__brown;
  }
}
